<h1>Doctor Name: <%=@doctor.name%></h1>
<h2>Doctor Department:<%=@doctor.department%></h2>

<h2>Appointments:</h2>
    <ol>
        <%@appointments.each do |appointment|%>
        <li><%=link_to "#{appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")} - #{appointment.patient.name} ", patient_path(appointment.patient)%></li>
        <%end%>
    </ol>
<br/>
<%=link_to "Go Back", doctors_path%>
    