<h3> <% @appointment.appointment_datetime%> </h3>
<p> Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %> </p>
<p> Age: <%= @appointment.patient.age.to_i %> </p>
<p> Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> </p>